div.img {
  width: 50%;
  height: 100%;

  overflow: hidden;

  background-image: url("./image-header-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  div {
    width: 100%;
    height: 100%;

    background-color: $soft-violet;
    opacity: 0.6;

    z-index: 2;
  }

  animation: img-anim 3s ease-in-out both;
}

@media screen and (max-width: 850px) {
  div.img {
    width: 100%;
    height: 31%;

    background-image: url("./image-header-mobile.jpg");

    animation-name: img-anim-m;

    div {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes img-anim {
  0% {
    position: relative;
    top: -100%;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0%;
    opacity: 1;
  }
}

@keyframes img-anim-m {
  0% {
    position: relative;
    top: -50%;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0%;
    opacity: 1;
  }
}
