main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: $width;
  height: $height;

  background-color: $dark-desaturated-blue-cb;

  border-radius: 20px;

  display: flex;

  overflow: auto hidden;
}

@media screen and (max-width: 1050px) {
  main {
    width: $table-width;
    height: $table-height;
  }
}

@media screen and (max-width: 850px) {
  main {
    flex-direction: column-reverse;

    width: $mobile-width;
    height: $mobile-height;
  }
}
